[submodule "system"]
	path = system
	url = git@github.com:kohana/core.git
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:kohana/cache.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = git@github.com:kohana/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = git@github.com:kohana/database.git
